<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xhy.shoppingmall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingMall">
        <activity
            android:name=".user.fragment.EditActivity"
            android:exported="false" />
        <activity
            android:name=".cart.fragment.CartList"
            android:exported="false" />
        <activity
            android:name=".type.fragment.Detail"
            android:exported="false" />
        <activity
            android:name=".type.fragment.DrinkActivity"
            android:exported="false" />
        <activity
            android:name=".type.fragment.BallActivity"
            android:exported="false" />
        <activity
            android:name=".type.fragment.FoodActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".app.WelcomeActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".app.MainActivity"
            android:exported="false" />
        <activity
            android:name=".app.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>